# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Django database
db.sqlite3

# Environment variables
.env

# Static build artifacts
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# AWS keys
*.pem